</<!DOCTYPE html>
<html>
   <head>
        <title>잡동사니</title>
    </head>
    <body>
        <h1>LOL 전적 검색</h1>
        <form action = "/search">
            아이디 : <input type="text" name="userName"/>
            <input type="submit" value="검색"/>
        </form>
    </body>
</html>
